l2l.Data/bin/Debug/netcoreapp3.1/l2l.Data.dll
l2l.Data/bin/Debug/netcoreapp3.1/l2l.Data.pdb
l2l.WebUI/obj/Debug/netcoreapp3.1/l2l.WebUI.csprojAssemblyReference.cache
l2l.Data/obj/Debug/netcoreapp3.1/l2l.Data.dll
l2l.Data/obj/Debug/netcoreapp3.1/l2l.Data.pdb
l2l.Data.Tests/bin/Debug/netcoreapp3.1/l2l.Data.dll
l2l.Data.Tests/bin/Debug/netcoreapp3.1/l2l.Data.pdb
l2l.Data.Tests/obj/Debug/netcoreapp3.1/l2l.Data.Tests.csprojAssemblyReference.cache
